<div [@routerTransition]>
    <app-page-header [heading]="'Terminal'" [icon]="'fa-table'"></app-page-header>
    <div class="col-sm-4">
            <a class="btn btn-primary"  [routerLink]="['addterminal']" role="button">Add Terminal</a>    
    </div>
    <br/>
    <div class="row">
       
        <div class="col col-xl-12 col-lg-12">
            
            <div class="card mb-6">
                  <!-- <a [routerLink]="['addterminal']">Details</a> | -->
                <div class="card-header">
                    Terminal List
                </div>
                <div class="card-body table-responsive">
                        <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th> Terminal Id</th>
                                <th>Merchant Code</th>
                                <th>Merchant Id</th>
                                <th>Address</th>
                                <th>Currency Code</th>
                                <th>kek</th>
                                <th>kekcheckvalue</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr   *ngFor="let terminal of terminals; let i = index">
                                <th scope="row">{{ i + 1 }}</th>
                                <td>{{ terminal.terminalid }}</td>
                                <td>{{ terminal.merchantcategorycode}}</td>
                                <td>{{ terminal.merchantid}}</td>
                                <td>{{ terminal.amelocationaddress}}</td>
                                <td>{{terminal.currencycode}}</td>
                                <td>{{ terminal.kek}}</td>
                                <td>{{ terminal.kekcheckvalue}}</td>
                                <td colspan="2">
                                        <button (click)="updateTerminal(terminal)"  class="btn btn-success">Update</button>
                                    <button (click)="deleteTerminal(terminal.terminalid)"  class="btn btn-danger">Delete</button></td>
                            </tr>
                            <!-- <tr #error>
                                    <td colspan="5">No record Found</td>
                            </tr> -->

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Modal title</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
            </div>
        </ng-template>